/**
 * @name: base
 * 基础通用样式
 */
*{margin:0;padding:0}
body,html{font-family:'Microsoft YaHei',tahoma,Arial;background:#fff;font-size:14px;color:#666;}
body{overflow:scroll;overflow-x:hidden;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
i{font-style:normal;}
input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
address,cite,code,dfn,em,strong,var{font-style:normal;font-weight:400;}
q:after,q:before{content:'';}
abbr,acronym{border:0;font-variant:normal;}
iframe{display:block;}

a{text-decoration:none;cursor:pointer;color: inherit;color:#666;}
.clear:after ,.clearfix:after{content:'\20';display:block; height:0;line-height:0;font-size:0;clear:both;visibility:hidden;}
.clear,.clearfix{*zoom:1;} /* for ie*/
.hide{display: none;}
.show{display: block;}
.no-text{text-indent:-999px;overflow:hidden;}

.btn { border: 0 none;background-color: transparent;padding: 0;font-size: 100%;_overflow-y: hidden;}

/* 已售罄的产品 加这个类名*/
.off-sale {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(1);}

/*字体图标*/
@font-face {font-family: "iconfont";
    src: url('font/iconfont.eot?t=20170331'); /* IE9*/
    src: url('font/iconfont.eot?t=20170331#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff?t=20170331') format('woff'), /* chrome, firefox */
    url('font/iconfont.ttf?t=20170331') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg?t=20170331#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont" !important;font-size:24px;font-style:normal;display:inline-block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
i.iconfont{font-size:inherit;}

/* 去掉浏览器激活样式 */
select:focus,
textarea:focus,
input:focus {outline:none;}

/* 提示文字的初始样式 */
::-webkit-input-placeholder {color:#ccc;}
:-ms-input-placeholder {color:#ccc;}

/* 浮动与清浮动 */
.left {float:left;}
.right {float:right;}
.m_auto {width: 1240px;margin-right: auto;margin-left: auto;height: 100%;}
.m_auto_logo { display: none; background: url('https://pic.solux.cn/PC/solux-logo.png') no-repeat center; height: 50px; width: 93px; margin-right: 40px; }
.t_c {text-align: center;}

/*头部 尾部共用*/
.solux-wrapper{width:1240px;margin:0 auto;background:#fff;}

.anim_hover{transition:all .2s linear;-webkit-transition:all .2s linear;}
.anim_hover:hover{transform: translate(0px, -2px);box-shadow: 0px 15px 30px rgba(0,0,0,0.1);-webkit-transform:translate(0px,-2px);-webkit-box-shadow:0 15px 30px rgba(0,0,0,0.1);}
.anim_hover1 img{-webkit-transition:all 1.5s ease;transition:all 1.5s ease;}
.anim_hover1:hover img{-webkit-transform:scale(1.05);transform:scale(1.05);}

/* 松霖底部 */
.solux-page-footer {position:relative;background-color: #383838;}
.solux-page-footer .footer-wrap {width:1240px;margin:0 auto;}
.solux-page-footer .foot-service-bar {padding:32px 0;width: 100%;border-bottom: 1px solid #5c5c5c;}
.foot-service-bar li{position:relative;width:25%;float: left;height:48px;line-height:48px;font-size:16px;color:#333;text-align:center;}
.foot-service-bar li i{width:48px;height:48px;line-height:48px;vertical-align:top;font-size:40px;padding-right:8px;}
.foot-service-bar li a{display:inline-block;color:#cfcfcf;}
.foot-service-bar li a:hover{color:#fff;}
.solux-page-footer .foot-links-bar{width:100%;padding:40px 0;}
.foot-links-bar ul li{width:170px;float:left;text-align:center;}
.foot-links-bar ul li.li{margin-left:20px;}
.foot-links-bar ul li.last{width:250px;padding-left:100px;float:right;border-left:1px solid #5c5c5c;}
.foot-links-bar ul li.first{position:relative;color:#cfcfcf;border-right:1px solid #5c5c5c;padding-right:100px;}
.foot-links-bar ul li.first h3{font-size:24px;margin-bottom:10px;}
.foot-links-bar ul li.first p{color:#919191;font-size:14px;}
.foot-links-bar ul li.first .service{display:block;width:88px;height:30px;line-height:30px;text-align:center;margin:10px auto 0;background-color:#cfcfcf;font-size:14px;border-radius: 5px;color:#666;}
.foot-links-bar ul li.first .service:hover {background-color: #fff;}
.foot-links-bar ul li.first .line {width:150px;height:1px;background-color:#5c5c5c;margin:20px auto;}
.foot-links-bar ul li.first dt { float: left;font-size: 14px;color: #919191;margin-left: 20px; }
.foot-links-bar ul li.first dd { float: left;font-size: 20px;line-height: 1;margin-left: 10px;cursor: pointer; }
.foot-links-bar ul li.first dd a { font-size: 20px; }
.foot-links-bar ul li.first dd a:hover { color: #fff; }
.foot-links-bar ul li.first dd:hover {color:#fff;}
.foot-links-bar ul li.first .wx:hover + .weixin { display: block; }
.foot-links-bar ul li.first .show { display:none;position:absolute;bottom:-109px;width:100px;height:116px;padding:6px;background-color: #fff;border-radius: 5px; }
.foot-links-bar ul li.first .show p { font-size: 12px;text-align: center; }
.foot-links-bar ul li.first .show i { position: absolute;top: -8px;left: 53px;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 8px solid #fff; }
.foot-links-bar ul li.first .weixin {left:27px;}
.foot-links-bar dt {padding-bottom:24px;font-size:16px;color:#a2a2a2;}
.foot-links-bar dd {line-height:32px;}
.foot-links-bar dd a{color:#cfcfcf;}
.foot-links-bar dd a:hover{color:#fff;}
.foot-links-bar li.last h4 {font-size:18px;color: #cfcfcf;margin-bottom: 20px;}
.foot-links-bar li.last .ct{background:#fff;width:124px;height:124px;margin:0 auto;}
.foot-links-bar li.last .ct img{margin:5px auto 0;}
.foot-links-bar li.last p {font-size:14px;color:#a2a2a2;margin-top:10px;}
.solux-page-footer .box-links-mid{background:#383838;text-align:center;padding:30px 0;color:#a2a2a2;line-height:22px;}
.solux-page-footer .box-links-mid img{vertical-align:top;}
.solux-page-footer .box-links-mid span{color:#999;padding:0 8px;}
.solux-page-footer .box-links-mid a{color:#a2a2a2}
.solux-page-footer .box-links-mid a:hover{color:#a2a2a2;}

/* 2017-02-24 首页导航改版 zhouy */
.index_head .index_head_top { width: 100%;height: 40px;background-color: #232323;overflow: hidden; }
.index_head_top .wrap { width: 1240px;margin: 0 auto;color: #cfcfcf;line-height: 40px;font-size: 12px;overflow: hidden; }
.index_head_top .news-list { margin-left: 50px; }
.index_head_top .iconfont { font-size: 23px; }
.index_head_top .news-slide { margin-left: 10px; }
.index_head_top .right a { color: #cfcfcf; }
.index_head_top .right a:hover { color: #fff; }
.index_head_top .right a + a { margin-left: 25px; }
.index_head_top .right .iconfont { font-size: 16px; }
.index_head_top .login { display: none;margin-right: 25px; }
.index_head_logo { width: 1240px;margin: 0 auto; }
.index_head_logo .s-logo { text-align: center;margin: 40px 0 20px; }
.index_head_logo .s-logo p { text-align: center;font-size: 16px;color: #c7c7c8;letter-spacing: 3px;margin-top: 10px; }
/*头部 - 菜单栏*/
.index_head {width: 100%;background-color: #fff;position: relative;}
.index_head .index_head_up {position:relative;background-color: #fff;width: 100%;height: 80px;border-bottom: 1px solid #f3f3f3;z-index: 910;}
.index_head .index_head_up .m_auto {position: relative;}
.index_head .nav{position:relative;}
.index_head .nav li {float: left;text-align: center;line-height: 20px;padding: 20px 0;padding-right: 35px;height:20px;font-size: 16px;color: #8a7e7a;}
.index_head .nav li + li { padding-left:16px; }
.index_head .nav li.item4 { padding-right:70px; }
.index_head .nav li.item5 { padding-left:70px; }
.index_head .nav li .sub_item {display: none;}
.index_head .nav li.line {width: 1px;background: #999;height: 20px;margin-top: 20px;padding: 0px;}
.index_head .nav li.cur a {color: #bd7424;}
.index_head .nav li.action a { color:#bd7424; }
.index_head .nav-line { position:absolute; bottom:3px; height:1px; line-height:1px; font-size:0; background:#c39664;-webkit-transition: left .5s;transition: left .5s; }

/*头部 - 搜索*/
.index_head .searchBar {float: right;height: 100%;max-width:350px;}
.index_head .searchBar .car {float: right;padding-right: 15px;margin-top:15px;}
.index_head .searchBar .car a{vertical-align: middle;display: inline-block;width: 25px;height: 25px;position:relative;}
.index_head .searchBar .car a i.iconfont{font-size:25px;color:#5c5c5c;}
.index_head .searchBar .car a:hover i.iconfont{font-size:25px;color:#d4282d;}
.index_head .searchBar .car a span{position:absolute;right:-6px;top:-6px;width:16px;height:16px;line-height:16px;border-radius:50%;background:#d4282d;background:rgba(212,40,45,0.9);color:#fff;display:block;text-align:center;font-size:12px;}
.index_head .searchBar .search {position: relative;float: right;height: 30px;padding-right:44px;margin-top: 13px;}
.index_head .searchBar .search input.text {height: 100%;line-height:29px;height:29px;border:none;border-bottom: 1px solid #8a7e7a;width:180px;padding:0;}
.index_head .searchBar .search a.btn {display:block;width: 22px;height: 22px;cursor:pointer;position:absolute;top:3px;right:20px;}
.index_head .searchBar .search a.btn .iconfont {font-size:22px;}
/*头部搜索 下拉框*/
.bdsug{width: auto;min-width: 154px;position: absolute;height: auto;border:1px solid #ccc;background:#fff;border-top: 0;display: none;z-index: 9999;box-shadow:0 0 3px rgba(0,0,0,0.1)}
.bdsug ul{width: 100%;text-align: left;padding:6px 0;}
.bdsug li{padding:0 15px;line-height:36px;}
.bdsug li a{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width: 100%;height: 100%;font-size:12px;}
.bdsug li:hover,.bdsug li.active{background:#f5f5f5;cursor:pointer;}
/*下拉菜单部分*/
.index_head .nav-content-sub {display: block;position: absolute;top: 242px;left: 0;right:0;width: 100%;overflow: hidden;-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);box-shadow:0 3px 3px rgba(0,0,0,.1);background-color: rgba(255,255,255,.9);background-color: #fff\9;z-index: 900;height:0;}
.nav-content-sub .sub_item{padding:10px 0;height:auto;}
.nav-content-sub .sub_item dl { margin-left:30px;padding-top:30px; }
.nav-content-sub .sub_item dt { float: left;font-size: 18px;font-weight: bold;color: #3f3f3f;line-height: 30px; }
.nav-content-sub .sub_item dd { width: 90%;float: left;font-size: 15px;color: #5c5c5c;line-height: 30px;margin-left: 20px; }
.nav-content-sub .sub_item dd a { margin-left: 20px;word-break: keep-all;white-space: nowrap; }
.nav-content-sub .sub_item dd a:hover { color: #bd7424; }
.nav-content-sub .sub_item .line { width: 100%;height: 1px;background-color: #c39664\9;background-color: rgba(195,150,100,.5);margin-top:30px; }

/* 侧边栏导航 */
.left_nav{position: fixed;right: 16px;bottom:25px;z-index:999;width:54px;}
.left_nav ul li{height:54px;line-height:54px;text-align: center;position: relative;float:left;width:54px;margin-top:4px;color:#fff;}
.left_nav ul li i{position: relative;z-index:3;font-size:30px;}
.left_nav ul li a.floor_name{display:none;font-size:13px;padding:9px;line-height:18px;height:36px;position:relative;z-index:2;color:#fff;}
.left_nav ul li span{width:54px;height:54px;position:absolute;top:0;left:0;background:#000;opacity:0.5;filter:alpha(opacity=50);z-index:1;}
.left_nav ul li:hover i{display:none;}
.left_nav ul li:hover a.floor_name{display: block;}
.left_nav ul li:hover span{display:block;background:#c39664;opacity:1;filter:alpha(opacity=100);}
.left_nav ul li .ewm{display:none;position: absolute;top:0px;left:-118px;width:110px;height:110px;border:1px solid #efefef;background-color:#fff;}
.left_nav ul li .ewm img{width:100px;height:100px;padding-top:5px;}
.left_nav ul li .ewm .triangle-right{width: 0; height: 0; border-top: 5px solid transparent; border-left: 10px solid red; border-bottom: 5px solid transparent;}
.left_nav ul li:hover .ewm{display: block;}

/* 推荐商品 */
.cartMain{background: #f5f5f5;}
.prolist{max-width: 1240px;margin:80px auto 0;position: relative;}
.prolist h1.title{font-size:24px;line-height:28px;margin-left: 0;color: #757575;height: 50px;border-top: 1px solid #e0e0e0;display: block;}
.prolist h1.title span{height: 40px;display: inline-block;position: absolute;top: -20px;background: #f5f5f5;width:360px;left: 0;right: 0;
    margin: 0 auto;text-align: center;line-height: 40px;letter-spacing:2px;}
.prolist h1.title span b{color: #d4282d;}
.prolist h1.title a{font-size:14px;position:absolute;right:0;top:12px;}
.prolist h1.title a:hover{color:#bd7424;}
.prolist h1.title .update{padding-left:4px;}
.prolist .pros{padding: 0;margin-top:0;background: transparent;overflow: hidden;}
.prolist .pros ul{width:1260px;overflow: hidden;}
.prolist .pros li{float: left;width: 232px;margin: 0 20px 20px 0;}
.prolist .pros li .box{background-color: #FFF;text-align: center;position: relative;padding-bottom:20px;}
.prolist .pros li .box a{display: block;height: 232px;}
.prolist .pros li .box img{width:100%;height: 100%;}
.prolist .pros li .box .cart-desc{padding: 0 10px;}
.prolist .pros li .box .proname{line-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.prolist .pros li .box .pricebox{line-height: 25px;}
.prolist .pros li .box .pricebox .icon{background: url(https://pic.solux.cn/icon/general.png) no-repeat center;width:20px;display:inline-block;height:25px;vertical-align:top;margin-left:10px;padding-right:3px;}
.prolist .pros li .box .pricebox .spec_vip{color:#bd7424;}
.prolist .pros li .box .addCartBtn{font-size: 12px;text-align: center;line-height: 28px;height: 28px;width: 120px;border: 1px solid #666;border-radius: 3px;color: #666;margin:5px auto 0;transition:all 0.3s;-webkit-transition:all 0.3s;}
.prolist .pros li .addCartBtn:hover{background: #baa485;color: #fff;border-color:#baa485;}
.prolist .pros li .box .disabled{background-color: #999;color: #fff;border-color:#999;}
/*人气单品*/
.prolist2{margin-top: 50px;}
.prolist2 a.iconfont{width:32px;height:22px;position:absolute;top:13px;border:1px solid #ccc;background:#fff;font-size:12px;line-height:22px;text-align:center;transition:all 0.3s;-webkit-transition:all 0.3s;color:#999}
.prolist2 .prev{right:39px;}
.prolist2 .next{right:0;}
.prolist2 a.iconfont:hover{color:#fff;background:#baa485;border-color:#baa485;}

/*分页样式*/
.pageview {padding:10px 0;text-align: center;line-height: 20px;font-size: 12px;}
.pageview .flip {border: 1px solid #ddd;color: #666;padding:7px 14px;display: inline-block;vertical-align: middle;margin-left:8px;width: auto;}
.pageview .ico {font-size: 16px;font-weight: bold;vertical-align:top;}
.pageview .over {color: #ccc;cursor: not-allowed;background-color: #f3f3f3;}
.pageview .over .ico {color: #ccc;}
.pageview .prev, .pageview .next {padding:7px}
.pageview a.flip:hover, .pageview .active {background-color: #666;border-color: #666; color: white }
.pageview .active {font-weight: bold}
.pageview .ellipsis {margin-left: 5px;}

/*系统错误页面*/
.page-error{background:#f5f5f5;width:100%;padding:120px 0;text-align:center;border-top:2px solid #ff6700;font-size:16px;}
.page-error .page-error-message{ color:#333; font-size:18px;line-height:60px; }
.page-error .link{font-size:14px;}
.page-error .link a{color:#fe6629;}
.page-error .link span{padding:0 15px;color:#ccc;}
.page-error .link a:hover{color:#ff4900;}

/*加入购物车-弹窗选择*/
.dialog_wrap .layui-layer-title{padding:12px 20px;height:32px;line-height:32px;font-size:18px;}
.dialog_wrap .layui-layer-setwin{top:22px;}
.dialog_spec .size_box{max-height: 400px;padding: 40px 60px;overflow: auto;}
.dialog_spec .size_box .size_bd{overflow: hidden;padding-left:150px;min-height:120px;position:relative;}
.size_bd .spec_image{width:120px;height:120px;position:absolute;top:0;left:0;}
.dialog_spec .size_footer{background-color:#F3F3F3; height:38px;padding:20px;text-align:right;border-top:1px solid #e0e0e0;}
.dialog_spec .size_footer{background-color: #F3F3F3; height:38px;padding:20px;text-align:right;border-top:1px solid #e0e0e0;}
.dialog_spec .size_footer .spec_btn{width: 140px; height:38px; line-height:38px; text-align: center; color: #FFF; background-color:#c39664; font-size: 14px; border-radius: 3px; display:inline-block; }
.dialog_spec .size_footer .spec_btn:hover{background-color: #b78853;}
.dialog_spec .size_footer .spec_btn.disabled{cursor:not-allowed; color: #fff;background:#999;}
.dialog_spec .size_footer .spec_btn.disabled:hover{background-color:#999;}
.size_bd{font-size:14px;}
.size_bd dl{overflow:hidden;}
.size_bd dl dt{line-height:24px;}
.size_bd dl dd{padding:5px 0 10px;overflow:hidden;}
.size_bd dd span{float:left;height:28px;line-height:28px;border:1px dashed #dbdbdb;color:#999;margin-right:15px;margin-bottom:8px;padding:0 15px;cursor:not-allowed;}
.size_bd dd .yes_click{border:1px solid #a9a9a9;color:#666;cursor:pointer;}
.size_bd dd .yes_click.active{border-color:#bd7424;}
.size_bd .num_opt{float:left;border:1px solid #a9a9a9;}
.size_bd .num_opt a{height:30px;line-height:30px;width:36px;text-align:center;font-size:20px;float:left;}
.size_bd .num_opt input{width:44px;height:30px;line-height:30px;border-left:1px solid #a9a9a9;border-right:1px solid #a9a9a9;float:left;border-top:0;border-bottom:0;text-align:center;}
.size_bd .nprice{line-height:24px;margin-top:10px;}
.size_bd .nprice .spec_vip{padding-left:30px;color:#bd7424;}

/*头部*/
.product-header a.btn-disable{background: #666;}
.product-header {height: 50px;line-height: 50px;background:#e6e6e6;}
.product-header.fixed {position: fixed;left: 0;top:-100px;right:0;z-index: 999;background:url("https://pic.solux.cn/PC/alan/icon/opacity/90.png") left top repeat;border-bottom: 1px solid #dfdfdf;}
.product-header h3 {font-size: 20px;color: #3f3f3f;line-height: 50px;}
.product-header li {float:left;font-size: 16px;}
.product-header li.line {padding-right: 15px;padding-left: 10px;}
.product-header li.on a{color:#bd7424;}
.product-header a.customer-service {margin-top: 10px;margin-left:30px;display: block;width:30px;height:30px;background: url("https://pic.solux.cn/PC/alan/icon/customer-service_1.png") no-repeat center center;}
.product-header a.buy {display:block;background: #c39664;border-radius: 3px;color: #fff;font-size: 14px;width: 120px;height: 30px;line-height: 30px;margin-top: 10px;margin-left: 20px;}