<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <p>{{message}}</p>
    <input v-model="message">
    <p v-if="seen">现在你看到我了</p>
    <button v-on:click="reverseMessage">点击</button>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            seen: true
        },
        methods:{
            reverseMessage:function () {
                if(this.seen = false){
                    this.seen = true;
                }else if(this.seen = true){
                    this.seen = false;
                }
            }
        }
    })
</script>
</html>